<% layout ('/layouts/boilerplate') %>
    <h1 class = "text-center">Client Dashboard</h1>

<div class="col-8 offset-1 mb-4">
    <h6>ID : <%= userInfo._id %> </h6>
    <h5 class="display-6 text-left"> Name : <%= userInfo.name %> </h5>
    <h5 class="display-6 text-left"> Email : <%= userInfo.email %> </h5>
</div>

<h2 class = "text-center">Cart Total : <%= userInfo.cartTotalPrice %> </h1>

<ul>
    <% for(i of userInfo.cart) { %> 
        <div class="card text-center">
            <div class="card-header">
               <h2> <%= i.restaurantName %> </h2>
            </div>
            <div class="d-inline">
                <li class="list-group-item"> <h2> <%=i.itemName%></h2> 
            <div class="text-right">
            <form action="/user/updateCartQuantity/<%=i.restaurantID %>/<%=i.itemID%>/?_method=PUT" method="POST"> 
                    Quantity : <input class="col-1 mb-3" type="number" class="form-control" id="new_quantity" aria-describedby="new_quantity" name="new_quantity" value="<%=`${i.quantity}`%>" required>
                    <button class = "btn btn-outline-warning col-1">
                        Update
                    </button>
                    <br>
                    <button class = "btn btn-outline-danger col-2">
                        Remove From Cart
                    </button>
            </form>
            </div>
            <form action="/user/removeFromCart/<%=i.restaurantID %>/<%=i.itemID%>/?_method=DELETE" method="POST"> 
                <div class="text-left">
                    <h5> Status
                    <span class="badge badge-info col-2 mb-3"> <%= i.status  %> 
                    </h5> </span><br>
                </div>
            </form>
            <br>
                <h6>Unit Price : <%=i.unitPrice%></h6>
                <h6>Total Price : <%=i.totalPrice%></h6>
            </div>
        </div>
    <br>  
    <% } %>
</ul> 




