<% layout ('/layouts/boilerplate') %>
    <h1 class = "text-center">Client Dashboard</h1>

<div class="col-8 offset-1 mb-4">
    <h6>ID : <%= userInfo._id %> </h6>
    <h5 class="display-6 text-left"> Name : <%= userInfo.name %> </h5>
    <h5 class="display-6 text-left"> Email : <%= userInfo.email %> </h5>
</div>

<ul>
    <% for(i of userInfo.cart) { %> 
        <div class="card text-center">
            <div class="card-header">
               <h1> <%= i.restaurantName %> </h1>
            </div>
            <div class="d-inline">
                <li class="list-group-item"> <h3><%=i.itemName%></h3> <div class="text-right">
                <form action="/user/updateCartQuantity/<%=i.restaurantID %>/<%=i.itemID%>/?_method=PUT" method="POST"> 
                    Quantity : <input class="col-1 mb-3" type="number" class="form-control" id="new_quantity" aria-describedby="new_quantity" name="new_quantity" value="<%=`${i.quantity}`%>" required>
                    <button class = "btn btn-outline-warning col-1">
                        Update
                    </button>
                </form>
                <form action="/user/removeFromCart/<%=i.restaurantID %>/<%=i.itemID%>/?_method=DELETE" method="POST"> 
                    <button class = "btn btn-outline-danger">
                        Remove From Cart
                    </button>
                </form>
            </div>
        </div>
    <br>  
    <% } %>
</ul> 




