<% layout ('/layouts/boilerplate') %>
    <h1 class = "text-center">Current Orders</h1>
<ul>
    <% for(i of orders) { %> 
        <div class="card text-center">
            <div class="card-header">
               <h2> Order ID : <%= i._id %> </h2>
               <h6> Last Update : <%= i.updatedAt %> </h6>
            </div>
            <div class="d-inline"><br>
                <% for(j of i.items) {%> 
                <h5><%=j.itemName%> - <%=j.quantity%></h5> 
                <% } %> 
                <h5>Total Price : <%=i.totalPrice%></h5>
                <h2><span class="badge badge-info"> <%=i.status%> </span></h2>
                    <form action="/user/order/<%=i._id%>/?_method=DELETE" method="POST">
                <button class = "btn btn-outline-danger col-2">
                    Cancel Order
                </button> 
            </form><br>
            <br>
        </div>
    <br>  
    <% } %>
</ul> 
