<% layout ('/layouts/boilerplate') %>
    <h1 class = "text-center">Client Dashboard</h1>

<div class="col-8 offset-1 mb-4">
    <h6>ID : <%= userInfo._id %> </h6>
    <h5 class="display-6 text-left"> Name : <%= userInfo.name %> </h5>
    <h5 class="display-6 text-left"> Email : <%= userInfo.email %> </h5>
    <a href="/user/<%=userInfo._id%>/pastOrders" class="btn btn-outline-info">Past Orders</a>
    <a href="/user/currentOrders" class="btn btn-outline-primary">Current Orders</a>
</div>

<div class="text-right">
    <h5> Wallet Balance : <%= userInfo.walletAmount %> </h5>
    <form action="/user/addFundsToWallet/<%=userInfo._id%>" method="POST"> 
        Add Funds : <input class="col-1 mb-3" type="number" class="form-control" id="addFunds" aria-describedby="addFunds" name="addFunds"% value=10 required>
        <button class = "btn btn-outline-info col-1">Add</button><br>
    </form>
</div>

<h2 class = "text-center">Cart Total : <%= userInfo.cartTotalPrice %> </h2>
<form action="/user/placeOrder/<%=userInfo._id%>" method="GET">
    <h2 class = "text-center">
        <button class = "btn btn-outline-success col-2">
            Place Order
        </button> 
    </h2>
</form>

<ul>
    <% for(i of userInfo.cart) { %> 
        <div class="card text-center">
            <div class="card-header">
               <h2> <%= i.restaurantName %> </h2>
            </div>
            <div class="d-inline">
                <li class="list-group-item"> <h2> <%=i.itemName%></h2> 
            <div class="text-right">
            <form action="/user/updateCartQuantity/<%=userInfo._id%>/<%=i._id%>/?_method=PUT" method="POST"> 
                    Quantity : <input class="col-1 mb-3" type="number" class="form-control" id="new_quantity" aria-describedby="new_quantity" name="new_quantity" value="<%=`${i.quantity}`%>" required>
                    <button class = "btn btn-outline-warning col-1">Update</button><br>
            </form>
             </div>
            <form action="/user/removeFromCart/<%=userInfo._id%>/<%=i._id%>/?_method=DELETE" method="POST">
                <button class = "btn btn-outline-danger col-2">
                    Remove From Cart
                </button> 
            </form>
            <br>
                <h6>Unit Price : <%=i.unitPrice%></h6>
                <h6>Total Price : <%=i.totalPrice%></h6>
            </div>
        </div>
    <br>  
    <% } %>
</ul> 




