<% layout ('/layouts/boilerplate') %>
    <h1 class = "text-center">Current Orders</h1>
<ul>
    <% for(i of orders) { %> 
        <div class="card text-center">
            <div class="card-header">
               <h2> <%= i.itemName %> </h2>
            </div>
            <div class="d-inline"><br>
             <h6> Quantity : <%=i.quantity%></h6> 
             <h6> Current Status : <%=i.status%></h6> 
             <form action="/user/cancelOrder/<%=i.clientID%>/<%=i._id%>/?_method=DELETE" method="POST">
                <button class = "btn btn-outline-danger col-2">
                    Cancel Order
                </button> 
            </form><br>
            <br>
                <h6>Total Price : <%=i.totalPrice%></h6>
        </div>
    <br>  
    <% } %>
</ul> 
