<% layout ('/layouts/boilerplate') %>
    <h1 class = "text-center">Admin Dashboard</h1>
    <h6>ID : <%= userInfo._id %> </h6>
    <h5 class="display-6"> Name : <%= userInfo.name %> </h5>
    <h5 class="display-6"> Email : <%= userInfo.email %> </h5>
    <a href="/restaurants/new" class="btn btn-success btn-lg btn-block">Add Restaurant</a><br><br>
<h1 class="display-5 mb-4">Restaurants</h1>
<ul>
<% for(i of rests) { %> 
    <div class="card text-center">
        <div class="card-header">
           <h1> <%= i.name %> </h1>
        </div>
        <div class="card-body">
          <h6 class="card-title"><%= i.location %></h6>
          <p class="card-text">
            <% for(let j in i.cuisines) { %> 
                <span class="badge badge-danger"> <%= i.cuisines[j] %></span>
            <% } %> 
          </p>
          <a href=<%=`/restaurants/admin/${i._id}`%> class="btn btn-primary">View Menu</a>
        </div>
        <div class="card-footer text-muted">
           Avg Price : <%=`₹${Math.ceil(i.avgPrice)}`%>
        </div>
    </div>
<br>  
<% } %>
</ul> 




