<% layout ('/layouts/boilerplate') %>
<div class="row">
    <div class="col-8 offset-1 mb-3">
        <h6>ID : <%= rest._id %> </h6>
        <h6>Admin ID : <%= rest.restaurantAdminID %> </h6>
        <h6>Access ID : <%= userid %> </h6>
        <h1 class="display-1 text-center"> <%= rest.name %> </h1>
        <h2 class = "text-center">Total Revenue : <%=rest.totalRevenue %></h2>
        <div class="text-center">
            <a href="/restaurants/<%=rest._id%>/pastOrders" class="btn btn-outline-info">Past Orders</a>
            <a href="/restaurants/<%=rest._id%>/currentOrders%>" class="btn btn-outline-primary">Current Orders</a>
          </div>
        <h5>Average Price : ₹ <%= Math.ceil(rest.avgPrice) %> </h5>
        <h6>Items in Menu : <%= rest.itemCount %> </h6>
        <h6> <%= rest.description %> </h6>
        <h6 class="text-muted"> <%= rest.location %> </h6>
        <ul class="list-group">
            <% for(i of rest.items) {%>
                <div class="d-inline">
                    <li class="list-group-item"> <h3><%=i.name%></h3> <div class="text-right"><h3>₹<%=i.price%></h3></div> 
                        <form action="/restaurants/<%=rest._id %>/<%=i._id%>/removeItem/?_method=DELETE" method="POST"> <button class = "btn btn-outline-danger">Remove Item</button></form>
                    </li><br>
                </div>
            <% } %>
        </ul>
        <img src="<%= rest.image %>" alt="">
        <a href="/restaurants/<%=rest._id %>/update" class="btn btn-info btn-lg btn-block">Edit Details</a><br>
        <a href="/restaurants/<%=rest._id %>/newItem" class="btn btn-success btn-lg btn-block">Add Item</a><br>
        <form action="/restaurants/<%=rest._id %>/removeRestaurant?_method=DELETE" , method="POST">
        <button class="btn btn-danger btn-lg btn-block">Remove Restaurant</button>
        </form>
    </div>

    <div class="col-3"> 
        <h2>Reviews</h2>
        <ul class="list-group">
        <% for(i of rest.reviews) {%>
            <div class="d-inline mb-3">
                <li class="list-group-item"> 
                    Rating : <%=i.rating%>
                    <p> <%= i.text %> </p> 
                    <form action="/restaurants/reviews/<%=rest._id %>/<%=i._id%>/?_method=DELETE" method="POST"> <button class = "btn btn-outline-danger">Delete</button></form>
                </li>
            </div>
        <% } %>  
        </ul>
    </div>

</div>

 

