<% layout ('/layouts/boilerplate') %>
<div class="row">
    <div class="col-8 offset-1 mb-3">
        <h6>Owner Name : <%= rest.restaurantOwner %> </h6>
        <br>
        <h1 class="display-1 text-center"> <%= rest.name %> </h1>
        <h5 > Average Price : ₹ <%= Math.ceil(rest.avgPrice) %> </h5>
        <h6>Items in Menu : <%= rest.itemCount %> </h6>
        <h6> <%= rest.description %> </h6>
        <h6 class="text-muted"> <%= rest.location %> </h6>
        <ul class="list-group">
            <% for(i of rest.items) {%>
                <div class="d-inline">
                    <li class="list-group-item"> <h3><%=i.name%></h3> <div class="text-right"><h3>₹<%=i.price%></h3>
                        <form action="/user/addToCart/<%=clientid%>/<%=rest._id %>/<%=i._id%>/" method="POST"> 
                        <div class="col-1">Quantity</div>
                        <input type="number" class="form-control col-2" id="quantity" aria-describedby="quantity" name="quantity" value="1" required><br>
                        <button class = "btn btn-outline-primary">Add To Cart</button>
                        </form>
                </div>
            <% } %>
        </ul>
        <img src="<%= rest.image %>" alt="">
    </div>

    <div class="col-3"> 
        <h2>Reviews</h2>
        <ul class="list-group">
        <% for(i of rest.reviews) {%>
            <div class="d-inline mb-3">
                <li class="list-group-item"> 
                    Rating : <%=i.rating%>
                    <p> <%= i.text %> </p> 
                </li>
            </div>
        <% } %>  
        </ul>
        <h2> Add Review to <%=rest.name%></h2><br>
        <form action="/restaurants/reviews/<%=rest._id%>" method="POST">
            <div class="form-group">
              <label for="text" class="form-label"><h5>Review</h5></label>
              <textarea class="form-control" id="text" aria-describedby="text" name="review[text]" required></textarea><br>
            <div class="form-group">
                <label for="rating" class="form-label"><h5>Rating</h5></label>
                <input type="range" min="0" max="5" class="form-control" id="rating" aria-describedby="rating" name="review[rating]" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

 
